.gradient {
  background: linear-gradient(109.14deg, #5b4dee 0%, #2603a4 95.95%);
}

.green-gradient {
  background: linear-gradient(180deg, #4bae4f 0%, #038609 100%);
}

.chart-gradient {
  background: linear-gradient(126.97deg, #E8FFE3 28.26%, #FFFFFF 91.2%);

}

.border-gradient {
  background: linear-gradient(109.14deg, #5B4DEE 0%, #2603A4 95.95%);
}

.step-item {
  @apply relative flex flex-col justify-center items-center w-36;
}

.step-item p {
  @apply mt-2
}

.step-item:not(:first-child):before {
  @apply content-[''] bg-slate-200 absolute w-full h-[3px] right-2/4 top-1/3 -translate-y-2/4;
}

.step {
  @apply w-10 h-10 flex items-center justify-center z-10 relative bg-[#8F9BC3] rounded-full font-semibold text-white;
}

.active .step {
  @apply bg-[#8F9BC3];
}

.complete .step {
  @apply bg-[#4BAE4F];
}

.complete p {
  @apply text-[#8F9BC3];
}

.complete:not(:first-child):before,
.active:not(:first-child):before {
  @apply bg-[#4BAE4F];
}